<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDB6FfYbMRk0wgKCsZXNrMA8TPSK0amyJ8",
    authDomain: "rebe-d7b4c.firebaseapp.com",
    databaseURL: "https://rebe-d7b4c.firebaseio.com",
    projectId: "rebe-d7b4c",
    storageBucket: "rebe-d7b4c.appspot.com",
    messagingSenderId: "409162919993",
    appId: "1:409162919993:web:1cf65baf31c899915d1de8",
    measurementId: "G-CC1Y2QY5N7"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
